#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
   	background-color: black;
   	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
   	border-left: 0;
    border-right: 0;
    border-radius: 0;
}

#nav > .navbar-inner {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    background-color: black;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

#nav-wrapper {
	background-color: black;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

#header{
	padding-top: 10px;
	background-color: white;
	height: 120px;
	width: 100%;	
}
